

{% extends 'base.html.twig' %}

{% block title %}Edit Student{% endblock %}

{% block body %}
    <h1>Edit Student</h1>
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.email) }}
    {{ form_row(form.age) }}
    {{ form_row(form.classroom) }}
    <button type="submit" class="btn btn-primary">Update</button>
    {{ form_end(form) }}
    <a href="{{ path('list_students') }}">Back to Students</a>
{% endblock %}
